.thumbnail-item {
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
    width: 100%;
}

.thumbnail-img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 8px;
}

.thumbnail-item:hover {
    transform: scale(1.05);
}