.password-container {
    background-color: #7683cb;
    border-style: solid;
    border-color: #94a3b8;
    border-width: 2px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 150px;
    margin: 2px;
}

.website-name {
    font-size: 24px;
    margin: 0px;
}

.username {
    font-size: 20px;
    margin: 0px;
}

.password {
    font-size: 16px;
    margin: 0px;
}

.user-logo {
    background-color: #10b981;
    color: white;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.logo-letter {
    font-size: 28px;
    margin-bottom: 15px;
}

.delete-icon {
    width: 20px;
    height: 20px;
}