.jobs-portal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
}

.jobs-list-portal-dashboard-container {
    width: 300px;
    margin: 30px;
}

.job-cards-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.horizontal-line {
    width: 300px;
    height: 1px;
    background-color: #cbd5e1;
    border: none;
    margin: 16px 0px 0px 25px;
}

.employment-filter {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.selection-feild {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.employment-type {
    font-weight: bold;
}

input[type="checkbox"] {
    accent-color: hsl(240, 84%, 62%);
    background: white;
}


.salary-filter {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.salary-type {
    font-weight: bold;
}

.search-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #475569;
    color: white;
    width: 300px;
}

.search-input {
    background-color: #475569;
    border: none;
    padding: 7px;
    width: 265px;
    color: white;
}

.search-input:focus {
    background-color: transparent;
}

.search-icon {
    align-self: center;
    margin-right: 5px;
}