.latest-card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.team-date-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-logo {
    height: 100px;
    width: 100px;
}

.match-card {
    background-color: #1e293b;
    color: white;
    padding: 12px;
    border-radius: 12px;
    width: 360px;
    text-align: center;
    font-family: 'Bree Serif';
    border: 1px solid #475569;
}

.match-card .team-logo {
    height: 60px;
    margin-bottom: 10px;
}

.match-card .win {
    color: #18ed66;
}

.match-card .loss {
    color: #e31a1a;
}

@media screen and (max-width: 768px) {
    .match-card {
        width: 100%;
        padding: 16px;
    }

    .latest-card {
        padding: 16px;
    }

    .team-date-logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .latest-logo {
        width: 80px;
        height: 80px;
        margin-top: 12px;
    }
}