.about-container {
    height: 100%;
}

.about-img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-icon {
    align-self: center;
    width: 40%;
    height: 450px;
    margin: auto;
    margin-top: 20px;
}

.light {
    background-color: black;
}

.dark {
    background-color: #dcdcdc;
}