.cart-list {
    padding-left: 0px;
}

.cart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove-button {
    background-color: transparent;
    color: blue;
    font-size: 20px;
}

.remove-button:hover {
    border-style: none;
}

.remove-button:focus {
    border-style: none;
}

.order-count-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
    padding: 0px;
}

.items-count-para {
    color: #616e7c;
    font-size: 20px;
}

.heading-total {
    color: #616e7c;
    font-size: 24px;
}

.amount {
    color: black
}

.check-out-button {
    background-color: #3b82f6;
}