.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abt-img {
    width: 100%;
    height: 480px;
    margin: auto;
    margin: 100px 0px 0px 200px;
}