.home-container {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.layout-container {
    background-color: #475569;
    color: white;
    text-align: left;
    margin-top: 0px;
    height: 200px;
    padding: 10px;
}

.main-section {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: auto;
    background-color: white;
    padding: 20px;
    height: 70%;
    gap: 7px;
}

.selection-feild>div {
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
}