.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b014b;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.score-timer {
    display: flex;
    align-items: center;
    color: #fff;
}

.score-text {
    margin-right: 20px;
    font-weight: bold;
}

.timer-container {
    display: flex;
    align-items: center;
}

.timer-icon {
    width: 20px;
    margin-right: 5px;
}

.timer {
    font-weight: bold;
    color: #fec653;
}

.score {
    color: #fec653;
    font-weight: bold;
    font-size: 20px;
}