.header-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.website-logo-image {
    width: 180px;
    height: 50px;
    margin: 5px;
}

.nav-link {
    margin: 10px;
    list-style-type: none;
    color: black;
}

.logout-button {
    background-color: #0b69ff;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 10px;
    margin-top: 15px;
}

.header-items {
    display: flex;
    flex-direction: row;
    margin-left: 700px;
}

.nav-link-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    color: #475569;
}

.cart-item {

    color: #475569;
}