.right-navbar-container {
    background-color: #e2e8f0;
    color: #64748b;
    width: 20%;
    padding: 10px;
}

.right-navbar-heading {
    color: #64748b;
    font-weight: bold;
}

.ad-container {
    background-color: transparent;
    border: 1px solid #475569;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}