.footer-container {
    background-color: #cbd5e1;
    color: #475569;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    width: 80%;
    align-self: center;
    margin: auto;
    padding: 25px;
}