.planet-img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.slide-container {
    text-align: center;
    color: white;
    padding: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}