.timeline-container {
    display: flex;
    flex-direction: column;
}

.ccbp-heading {
    color: #171f46;
    font-weight: bold;
    text-align: center;
}

.journey-heading {
    color: #1e293b;
    font-family: "Roboto";
    text-align: center;
}